/*header section*/
header {
    background-color: #a3b18a;
    color: #2D3430;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

header button {
    border: none;
    background-color: #a3b18a;
    color: #2D3430;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}


/*hero image*/
.hero {
    position: relative;
    width: 100%;
    height:auto;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-text {
    position: absolute;
    font-size: 10px;
    top: 50%;
    left:3%;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

/*meal cards*/
.meal {
    background-color: #a3b18a;
    border: 2px solid #2D3430;
    padding: 15px;

}

.meal img {
    width: 250px;
    height: 250px;
}



/*footer section*/
footer {
    background-color: #a3b18a;
}


@media screen and (min-width: 1200 ) {
    /*meal cards*/
        .meal {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 70px 1fr 1fr;
            background-color: white;
            border: 2px solid #a3b18a;
    
        }
    
        .meal h3 {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
    
        .meal img {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: 250px;
            height: 250px;
        }
    
        .meal p {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    
        .meal h4,
        .meal ul {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
}